//Colors
$background-color: lightcyan;
$background-color2: darkcyan;
$highlight-color: coral;
$outline-color: lightgreen;
$major-status-color: indigo;

$gradient-color1: mediumspringgreen;
$gradient-color2: darkcyan;

//Font sizes
$small-font-size: 1.2rem;
$default-font-size: 1.6rem;

//Lengths
$col-width: 15%;
$col-width-mobile: 30%;
$col-width-tablet: 25%;

$grid-space: 3rem;

$header-space-small: 0.5rem;
$header-space-med: 1rem;

$outline-thickness: 0.8rem;

//Media Queries
$mobile-width: 500px;
$tablet-width: 1023px;
