@import "../../sass/variables";
@import "../../sass/mixins";
.stats-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $default-font-size;
  background-color: $background-color;
  width: $col-width;
  padding: 2rem;
  margin-left: $grid-space;
  margin-right: $grid-space;
  outline: $outline-thickness solid $outline-color;

  @include mobile {
    width: $col-width-mobile;
  }

  @include tablet {
    width: $col-width-tablet;
  }

  .stat-list {
    margin-bottom: $header-space-med;
    text-align: center;
  }

  .stat {
    &-title {
      font-weight: 700;
    }
  }
}
