@import "./sass/variables";
@import "./sass/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

html {
  font-size: 62.5%;

  @include mobile {
    font-size: 45%;
  }

  @include tablet {
    fonts-size: 55%;
  }
}

body {
  background-image: linear-gradient(
      to right,
      rgba($gradient-color1, 0.3),
      rgba($gradient-color2, 0.3)
    ),
    url(Images/brick-bg.png);
  background-position: top;
}

.flex-container {
  display: flex;
  justify-content: center;
}
.header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding: 2rem;
  text-align: center;
  font-size: 4rem;
  color: white;
}
